<!--<app-mat-ex></app-mat-ex>
<app-people-list-http></app-people-list-http>
<app-mat-ex></app-mat-ex>
<app-employee></app-employee>
<app-todo-animation></app-todo-animation>-->
<app-header></app-header>

<router-outlet></router-outlet>
<!--Finding sqrt:
{{"hellocgi" |sqrt:5}}

<app-employee [name]="title"></app-employee>-->
<!--<app-reactiveform></app-reactiveform>
<h1> Hello CGI! welcome to second phase of training!!</h1>

<h2>Page Title : {{title}}</h2>
<h2> Student Name : {{name}}</h2>

Property & style Binding:
<h3> <input [style.font-size]="size" type="text" [value]="name" />
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>
Attribute Binding :
<img [attr.Height]="hgt" [attr.src]="pat"/>

Event Binding : 
<p>{{count}}</p>
<button >Accent</button>
<button mat-raised-button color="accent" (click)="onClick()">Click Me to change the name!</button>
<input (keyup)="onkeyup($event)"/>
<h3>typed value :{{text}}</h3>

Two-way Data Binding:
<input type="text" [(ngModel)]="username"/>
<h4> Input received via two way binding : {{username}}</h4>
<app-employee></app-employee>-->

